<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	  http://www.springframework.org/schema/context  
	  http://www.springframework.org/schema/context/spring-context-3.0.xsd  
	  http://www.springframework.org/schema/tx  
	  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
	  http://www.springframework.org/schema/aop  
	  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	  http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


	<import resource="entityManager.xml" />
	<!-- <import resource="applicationConfiguration-security.xml"/> -->
	<!-- enabling annotation driven configuration / -->

	<context:property-placeholder location="classpath*:*.properties" />

	<context:spring-configured />
	<tx:annotation-driven />
	<context:annotation-config />

	<context:component-scan base-package="taxi.com" />

	<!-- <security:http auto-config="true" access-denied-page="/accessdenied.jsp"> -->
	<!-- <security:form-login always-use-default-target="false" -->
	<!-- login-processing-url="/j_spring_security_check" default-target-url="/reps" -->
	<!-- login-page="/login.jsp" authentication-failure-url="/login.jsp?login_error=t" 
		/> -->
	<!-- <security:logout logout-url="/j_spring_security_logout" /> -->
	<!-- <security:intercept-url pattern="/VAADIN/**" -->
	<!-- filters="none" /> -->
	<!-- <security:intercept-url pattern="/*.jsp" -->
	<!-- filters="none" /> -->
	<!-- <security:intercept-url pattern="/reps/*" -->
	<!-- filters="none" access="ROLE_SUPERVISOR" /> -->

	<!-- <security:intercept-url pattern="/reps/**" access="IS_AUTHENTICATED_FULLY"/> -->


	<!-- </security:http> -->
	<!-- <security:authentication-manager alias="authenticationManager"> -->
	<!-- <security:authentication-provider> -->
	<!-- <security:user-service> -->
	<!-- <security:user name="admin" password="admin" -->
	<!-- authorities="ROLE_USER, ROLE_ADMIN" /> -->
	<!-- <security:user name="bob" password="bob" authorities="ROLE_USER" /> -->
	<!-- </security:user-service> -->
	<!-- </security:authentication-provider> -->
	<!-- </security:authentication-manager> -->

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="persistenceAnnotation"
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="personDao" class="taxi.com.dao.impl.PersonDaoImpl" />
	<bean id="personService" class="taxi.com.service.impl.PersonServiceImpl" />
</beans>		